h1 {
    color: green;
    background-color: gold;
}
.uno {
    background-color: teal 
}

.dos {
    background-color: mediumspringgreen
}

h2 {
    color:  fuchsia
}
#imagen1 {
    float: right
}